doctype html
html(lang='pt-br' dir='ltr')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Resume Maker
    body
        h1='Resume Maker'